langchain
langchain-core
langchain-community
fastapi
uvicorn
python-multipart
python-dotenv
wikipedia
arxiv
pypdf
faiss-cpu
langchain-groq
huggingface_hub
langchain-text-splitters
langchain-huggingface

langchain-google-genai
