langchain
langchain-openai
langchain-core
langchain_community
fastapi
uvicorn
python-multipart
langchainhub
wikipedia
arxiv
pypdf
PyPDF2
langserve
sse_starlette
chromadb
faiss-cpu
google-generativeai
langchain-groq
langchain-huggingface
